@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Mukta", sans-serif;
}
body{
    background-color:#1b1b1b;   
    height: 100vh;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.container{
    height: auto;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;   
    flex-direction: column;
    padding: 10px;
}
.btn{
    border-radius: 10px;
    border-style: none;
    outline: 0px;
    background-color: white;
    border: 2px solid rgb(33, 143, 252);
    transition: all ease-in-out 0.2s;
    color: rgb(33, 143, 252);
    cursor: pointer;
    padding: 5px;
}
.btn:hover{
    border: 2px solid white;
    color: white;
    background-color: rgb(33, 143, 252);
}